.Cabin{
    position: absolute;
    width: 24rem;
    background-color: #f1f1f1;
    margin-left: 5px;
    overflow: auto;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
}
.Cabin ul{
    list-style: none;
}
.Cabin li{
    font-family: 'Noto Sans JP', sans-serif;
    color: #b47d17;
    padding: 12px 16px;
    text-decoration: none;
}

.Cabin li:hover{
    background-color: #dddddd;
    cursor: pointer;
}

@media(max-width:1230px){
    .Cabin{
       width: 20rem;
    }
}

@media(max-width:970px){
    .Cabin{
        width: 20rem;
    }
}

@media(max-width:786px){
    .Cabin{
        width: 16rem;
    }
}

@media(max-width:610px){
    .Cabin{
        width: 24rem;
        margin-left: 5px;
    }
}

@media(max-width:460px){
    .Cabin{
        width: 17rem;
    }
}

@media(max-width:330px){
    .Cabin{
        width: 14rem;
    }
}
